.home-bg {
  background: url('/images/stars.jpg');
  height: 100vh;
}

h1 {
  text-align: center;
  color: #ffffff;
}

.signin {
  text-align: center;
  border: 5px solid #1F3E5A;
  border-radius: 50px;
  background-color: #281C3C;
  display: inline-block;
  height: 300px;
  width: 330px;
  padding: 50px;
  margin-top: 80px;
  color: #ffffff;
}

#background {
    position: fixed;
    background-size: contain;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.signup {
  text-align: center;
  border: 5px solid #C5EAD8;
  border-radius: 50px;
  background-color: #C5EAD8;
  display: inline-block;
  height: 300px;
  width: 300px;
  padding: 50px;
}

.question {
  font-size: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width:850px;
  padding:15px;
  background-color:white;
  margin:0 auto;
  color: #0D2E47;
  font-family: Arial,Helvetica,sans-serif;
  opacity:0.6;
}

.category {
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width:850px;
  padding:15px;
  background-color:white;
  margin:0 auto;
  color: #0D2E47;
  font-family: Arial,Helvetica,sans-serif;
  opacity:0.6;
}

.score {
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width:850px;
  padding:15px;
  background-color:white;
  margin:0 auto;
  color: #0D2E47;
  font-family: Arial,Helvetica,sans-serif;
  opacity:0.6;
}

.trans {
  background-color:white;
  color: #0D2E47;
  opacity:0.6;
}

.container {
  display: flex;
  justify-content: center;
}

.currentQuestion.category {
  font-size: 499px;
}

#logInbtn {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 259px;
  margin-top: 45px;
}

#logInbtn:hover {
  background-color: #1F3E5A;
  border-color: #1F3E5A;
  color: white;
  transition-duration: 1s;
}
